<template>
  <v-container>
    <v-row class="text-center">
      <v-col class="mb-4">
        <h1 class="display-2 font-weight-bold mb-3">
          Pendulum
        </h1>
      </v-col>
    </v-row>
    <v-row>
        <v-col
          class="sm-6"
          cols="6"
        >
            <div class="pendulum">
              <div class="line" :style="{
                height: lineLength, 
                'animation-duration': duration
              }">
                <div class="circle"></div>
              </div>
            </div>
        </v-col>
        <v-col
          class="sm-6"
          cols="6"
        >
          <div class="slider">
            <v-slider
              :value="sliderValue"
              thumb-label
              @change="sliderValue = $event"
              max="100"
              min="4"
            ></v-slider>
          </div>
        </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'Pendulum',
    data: () => ({
      sliderValue: 100,
    }),
    computed: {
      lineLength: function () {
        return this.sliderValue * 4 + 'px';
      },
      duration: function () {
        let T = 2 * Math.PI * Math.sqrt(this.sliderValue / 9.8);
        return (T / 4) + 's';
      }
    }
  }
</script>
<style>


.pendulum {
  width: 100%;
  margin: auto;
  text-align: center;
  position: relative;
  padding: 0 0 30px;
  border-top: 2px solid grey;
}

.line {
  display: inline-block;
  width: 2px;
  height: 200px;
  background: black;
  border-radius: 5px;
  position: relative;
  transform-origin: 50% 0;
  animation: move 0s ease-in-out infinite;
}

.circle {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  left: -9px;
}

@keyframes move {
  0%, 100% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(-40deg);
  }
}
</style>