<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
    </v-app-bar>
    <v-main>
      <Pendulum/>
    </v-main>
  </v-app>
</template>

<script>
import Pendulum from './components/Pendulum';

export default {
  name: 'App',
  components: {
    Pendulum,
  },
};
</script>
